<div>
	{% if not comment.ID %}
		<button type="button" class="btn btn-primary mb-3" data-toggle="collapse" data-target="#comment-form-{{ comment.ID }}" aria-expanded="false" aria-controls="comment-form-{{ comment.ID }}">Add a comment</button>
	{% endif %}
	<form class="collapse" id="comment-form-{{ comment.ID }}" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
		{% if  user %}
			<input type="hidden" name="email" value="{{ user.email }}">
			<input type="hidden" name="author" value="{{ user.name }}">
			<input type="hidden" name="url" value="{{ user.link }}">
		{% else %}
			<div class="row no-gutters">
				<div class="col col-12 mb-2">
					<input class="form-control w-100" name="author" required type="text" placeholder="Name*">
				</div>
				<div class="col col-12 col-md-6 mb-2 pr-md-1">
					<input class="form-control w-100" id="email" name="email" required type="email" placeholder="E-Mail*"/>
				</div>
				<div class="col col-12 col-md-6 mb-2 pl-md-1">
					<input class="form-control w-100" id="url" name="url" type="url" placeholder="Website"/>
				</div>
			</div>
		{% endif %}
		<textarea class="form-control mb-2" name="comment" rows="5" placeholder="Write your comment…"></textarea>
		<button type="submit" class="btn btn-primary">Post comment</button>
		<input name="comment_post_ID" value="{{ post.id }}" type="hidden">
		<input name="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">
	</form>
</div>
